@mixin flexblock($content, $items, $dir: row){
    display: flex;
    flex-direction: $dir;
    justify-content: $content;
    align-items: $items;
}

@mixin active_but(){
    background: linear-gradient(to right, #C2D1DD, #456DA2);
    color: #2e3033;
}

@mixin article_template(){
    margin: 48px 0 32px;
    padding: 0 24px;
    width: 100%;
}

@mixin topic_tag(){
    color: white;
    font-size: 32px;
    font-weight: bold;
    text-transform: capitalize;
}

@mixin text($col, $size, $transform){
    font-size: $size;
    color: $col;
    text-transform: $transform;
}

@mixin default_but(){
    @include text(transparent, 12px, capitalize);
    background-image: linear-gradient(to right, #C2D1DD, #456DA2);
    background-clip: text;
    font-weight: bold;
    padding: 10px 16px;
    border: 1px solid #456DA2;
    border-radius: 16px;
}

@mixin temp_but(){
    background: linear-gradient(to right, #C2D1DD, #456DA2);
    @include text(#2e3033, 12px, capitalize);
    padding: 10px 16px;
    font-weight: bold;
    border-radius: 32px;
}

main{
    .profile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        .user-back-block{
            flex: 1 1 300px;
            @include flexblock(flex-end, flex-end);
            padding: 40px 80px;
            position: relative;
            
            .curr-bg-img{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                user-select: none;
            }
            .useful-links{
                z-index: 10;
                @include flexblock(center, center);
                gap: 20px;
                .icon-img{
                    @include flexblock(center, center);
                    padding: 24px;
                    border-radius: 100%;
                    background-color: #2e3033;
                    position: relative;
                    svg{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                    }

                    &.active svg{
                        fill: tomato;
                        animation: sub .5s forwards;
                        path{
                            stroke: none;
                        }
                    }
                }
            }
        }
        .user-info_container{
            @include flexblock(center, flex-start, column);
            transform: translateY(-40%);
            gap: 20px 0;
            width: 100%;
            .user-avatar-block{
                width: 120px;
                height: 120px;
                cursor: pointer;
                position: relative;
                > *{
                    border-radius: 100%;
                    cursor: pointer;
                }
    
                .avatar-img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;    
                    border: 3px solid rgb(137, 145, 203);
                    user-select: none;  
                }
            }
        }

        .info-abt-user{
            @include flexblock(center, center, column);
            width: 100%;
            gap: 12px 0;
            .name-block{
                align-self: flex-start;
                @include flexblock(center, center);
                gap: 0 8px;
                .user-name{
                    @include text(white, 24px, capitalize);
                }
                .nickname{
                    @include text(transparent, 12px, none);
                    background-image: linear-gradient(to right, #C2D1DD, #64a3f4);
                    background-clip: text;
                
                }
            }
            .descr-block{
                @include text(white, 12px, capitalize);
                @include flexblock(space-between, center);
                align-self: normal;
                .about-user{
                    display: flex;
                    .about-text{
                        max-width: 400px;
                        line-height: 1.3;
                    }
                }
                .influence{
                    @include flexblock(center, center);
                    span{
                        padding: 8px;
                    }
                    .follow{
                        border-right: 0.75px solid #2e3033;
                    }
                    .followers{
                        border-left: 0.75px solid #2e3033;
                    }
                }
                
            }
        }
    }
    .collection_container{
        display: flex;
        flex-direction: column;
        .coll-nav{
            @include flexblock(center, center, column);
            
            .coll-menu{
                @include flexblock(center, center);
                padding: 12px 0;
                gap: 32px;
                .coll-menu-item{
                    @include text(white, 14px, capitalize);
                    cursor: pointer;
                }
            }
            .active-line-block{
                width: 100%;
                height: 2px;
                background-color: #2e3033;
                position: relative;
                    .active-line{
                        position: absolute;
                        bottom: 0;
                        height: 4px;
                        border-radius: 2px;
                        background: linear-gradient(to right, #fff, #3567B4);
                        transition: 1s;
                    }
            }
        }
        .collection-block{
            @include flexblock(center, center, column);
            margin-bottom: 40px;
            .prod-buttons-block{
                width: 100%;
                margin: 24px 0;
                @include flexblock(space-between, center);
                .but-and-hidd-block{
                    position: relative;
                    flex: 1 1 auto;
                    @include flexblock(center, center, column);
                    .add-but{
                        padding: 12px;
                        border: 2px solid #1A2428;
                        border-radius: 20px;
                        @include text(rgb(140, 140, 140), 14px, capitalize);
                        @include flexblock(center, center);
                        gap: 8px;
                        cursor: default;
                        &.open ~ .hidden-menu-block{
                            @include flexblock(center, flex-start, column);
                        }
                    }
                    .sort-but{
                        align-self: flex-end;
                    }
                    .filter-but{
                        align-self: flex-start;
                    }
                    .hidden-menu-block{
                        position: absolute;
                        top: 0;
                        margin-top: 48px;
                        z-index: 999;
                        display: none;
                        background-color: #142029;
                        padding: 10px 0;
                        border-radius: 12px;
                        box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
                        
                        &.sort-hid-block{
                            right: 0;
                        }
                        &.filt-hid-block{
                            left: 0;
                        }

                        .hidden-menu-item{
                            @include text(white, 14px, none);
                            font-weight: 300;
                            padding: 12px 32px;
                            width: 100%;
                            cursor: pointer;
                            &:hover{
                                background-color: #94969b;
                            }
                            &.active{
                                background-color: #565759;
                            }
                        }
                    }
                }
            }
            .items-block{
                display: grid;
                width: 100%;
                gap: 24px;
                justify-content: center;
                grid-template-columns: repeat(auto-fit, 240px);
                .item{
                    @include flexblock(center, center, column);
                    
                    background-color: #142029;
                    border-radius: 10px;
                    cursor: pointer;
                    .image-block{
                        width: 240px;
                        height: 240px;
                        position: relative;
                        border-radius: 16px;
                        overflow: hidden;
        
                        .nft-img{
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .nft-name{
                        @include text(white, 14px, capitalize);
                        align-self: flex-start;
                        font-weight: bold;
                        margin: 8px 16px;
                    }
                    hr{
                        min-height: 2px;
                        width: 100%;
                        background: #1D262E;
                    }
                    .price-block{
                        width: 100%;
                        padding: 12px 16px;
                        @include flexblock(space-between, center);
                        h4{
                            @include text(#747474, 14px, capitalize);
                        }
                        .price-in-diff-c{
                            @include flexblock(center, center);
                            gap: 6px;
                            .price-in-wrx{
                                @include text(#fff, 12px, uppercase);
                                font-weight: bold;   
                            }
                            .price-in-usd{
                                @include text(#747474, 10px, uppercase);
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes sub{
    0%{
        width: 20px;
        height: 20px;
        fill: none;
    }
    10%{
        fill: tomato;
    }
    50%{
        width: 30px;
        height: 30px;
        fill: tomato;
    }
    100%{
        width: 24px;
        height: 24px;
        fill: tomato;
    }
}