{%extends 'main/base.html'%}
{% load static %}


    {% block head_links %}
    <link rel="stylesheet" href="{% static './cssCode/nft-create.css' %}">
    {% endblock head_links %}




    {% block main_content %}
        <div class="main_container">
            <form action="{%url 'nftcr'%}" method="post" enctype="multipart/form-data">
                <div class="upload-nft">
                    <div class="create">
                        <div class="article-goods">
                            <h2>create your master piece</h2>
                            <hr>
                        </div>
                        <div class="drop-new-img">
                            <input type="file" id="upl-nft" name="upl-nft"/>
                            <div class="label-drop">
                                <label for="upl-nft">
                                    <img src="{% static './photos/drop_new.png' %}" alt="">
                                    <span>Drop your files here.</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="add-info-abt-nft">
                        <div class="article-goods">
                            <h2>item information</h2>
                            <hr>
                        </div>
                        <div class="info-area-inp">
                            {% csrf_token %}
                            {% for item in form %}
                                {%if item.id_for_label == 'descr'%}
                                    <div class="descr-area">
                                {%else%}
                                    <div class="inp-area">
                                {%endif%}
                                        <div class="{{item.id_for_label}}-inp">
                                            {{item}}
                                        </div>
                                        <label for="{{item.id_for_label}}">{{item.label}}</label>
                                    </div>
                            {%endfor%}
                        </div>
                    </div>
                    <button type="submit" id="create-item-but">create item</button>
                </div>
            </form>
        </div>
    {% endblock main_content %}


    {% block scripts_src %}
    <script src="{% static './jsCode/toggle.js' %}"></script>
    <script src="{% static './jsCode/drag&drop.js' %}"></script>
    {% endblock scripts_src %}
