    {%extends 'main/base.html'%}
    {%load static%}
    {% block head_links %}
    <link rel="stylesheet" href="{% static './cssCode/goods-temp.css' %}">
    {% endblock head_links %}

        {% block main_content %}
            <div class="main_container">
                <div class="about-goods">
                    <div class="goods-img-block">
                        <img src="./photos/nftcard.png" alt="nft-card" class="nft-card-goods">
                    </div>
                    <div class="descr">
                        <h2>Azuki 3D</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, maiores veniam natus tempora suscipit commodi, ea esse possimus minima cupiditate illum quis modi consectetur hic? Quis consequatur voluptatem earum enim.</p>
                        <hr>
                        <div class="user-own-and-create">
                            <div class="owner user-card">
                                <div class="user-avatar">
                                    <img src="./photos/user.png" alt="" class="user-avatar-img">
                                </div>
                                <div class="info-about-user">
                                    <span class="status">owner</span>
                                    <span class="user-name">denys mikliaiev</span>
                                </div>
                            </div>
                            <div class="creator user-card">
                                <div class="user-avatar">
                                    <img src="./photos/user.png" alt="" class="user-avatar-img">
                                </div>
                                <div class="info-about-user">
                                    <span class="status">creator</span>
                                    <span class="user-name">denys mikliaiev</span>
                                </div>
                            </div>
                        </div>

                        <div class="price-block">
                            <h4>price</h4>
                            <div class="price-in-diff-curr">
                                <span class="price-in-wrx">5.55 wrx</span>
                                <span class="price-in-usd">(7.05 usd)</span>
                            </div>
                        </div>

                        <div class="but-block">
                            <div class="but make-off">
                                make offer
                            </div>
                            <div class="but buy-g">
                                buy now
                            </div>
                        </div>
                        <div class="add-info-block">
                            <ul class="add-info-nav">
                                <li class="add-info-item active">owners</li>
                                <li class="add-info-item">offers</li>
                                <li class="add-info-item">detail</li>
                                <li class="add-info-item">history</li>
                            </ul>
                            <div class="active-line-block">
                                <div class="active-line"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="graph-block">
                    <div class="article-goods">
                        <h2>price analysis</h2>
                        <hr>
                    </div>
                    <canvas id="price-of-goods" height="400px"></canvas>
                </div>
                <div class="exp-more-block">
                    <div class="article-goods">
                        <h2>explore more</h2>
                        <hr>
                    </div>
                    <div class="adv-card-block">
                        <div class="adv-card">
                            <div class="adv-img-block">
                                <img src="" alt="" class="adv-img">
                            </div>
                            <span class="card-name">the lighting of love</span>
                            <hr>
                            <div class="price-block">
                                <h4>price</h4>
                                <div class="price-in-diff-c">
                                    <span class="price-in-wrx">5.55 wrx</span>
                                    <span class="price-in-usd">(7.05 usd)</span>
                                </div>
                            </div>
                        </div>
                        <div class="adv-card">
                            <div class="adv-img-block">
                                <img src="" alt="" class="adv-img">
                            </div>
                            <span class="card-name">the lighting of love</span>
                            <hr>
                            <div class="price-block">
                                <h4>price</h4>
                                <div class="price-in-diff-c">
                                    <span class="price-in-wrx">5.55 wrx</span>
                                    <span class="price-in-usd">(7.05 usd)</span>
                                </div>
                            </div>
                        </div>
                        <div class="adv-card">
                            <div class="adv-img-block">
                                <img src="" alt="" class="adv-img">
                            </div>
                            <span class="card-name">the lighting of love</span>
                            <hr>
                            <div class="price-block">
                                <h4>price</h4>
                                <div class="price-in-diff-c">
                                    <span class="price-in-wrx">5.55 wrx</span>
                                    <span class="price-in-usd">(7.05 usd)</span>
                                </div>
                            </div>
                        </div>
                        <div class="adv-card">
                            <div class="adv-img-block">
                                <img src="" alt="" class="adv-img">
                            </div>
                            <span class="card-name">the lighting of love</span>
                            <hr>
                            <div class="price-block">
                                <h4>price</h4>
                                <div class="price-in-diff-c">
                                    <span class="price-in-wrx">5.55 wrx</span>
                                    <span class="price-in-usd">(7.05 usd)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock main_content %}

    {% block scripts_src %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src='{% static "./jsCode/line-check.js" %}'></script>
    <script src='{% static "./jsCode/graph.js" %}'></script>
    <script src='{% static "./jsCode/toggle.js" %}'></script>

    {% endblock scripts_src %}

</body>
</html>