{% extends 'main/base.html' %}
{%load static%}


    {% block head_links %}
    <link rel="stylesheet" href="{% static './cssCode/style.css' %}">
    {% endblock head_links %}
        {% block main_content %}
        <div class="main_container">
            <div class="explore">
                <h3>Trade with Simpler and Smarter NFT World</h3>
                <h1>Explore the NFT world, collect and sell your artwork</h1>
                <div class="buttonsBlock">
                    <a href="#" class="createBut but">create</a>
                    <a href="#" class="expBut but">explore more</a>
                </div>
            </div>
            <div class="create-sell-block">
                <h2>create and sell your NFTs</h2>
                <div class="cards">
                    <div class="card">
                        <img src="{% static './photos/icons/wallet.svg' %}" alt="wallet" class="icon">
                        <h3>Set up your wallet</h3>
                        <span>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae quibusdam natus eos quia deleniti at, cum laboriosam quam. Tempore delectus blanditiis excepturi itaque?
                        </span>
                    </div>
                    <div class="card">
                        <img src="{% static './photos/icons/paper-upload.svg' %}" alt="upl" class="icon">
                        <h3>Upload & Create Collection</h3>
                        <span>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae quibusdam natus eos quia deleniti at, cum laboriosam quam. Tempore delectus blanditiis excepturi itaque?
                        </span>
                    </div>
                    <div class="card">
                        <img src="{% static './photos/icons/bookmark.svg' %}" alt="bookmark" class="icon">
                        <h3>List them for sale</h3>
                        <span>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae quibusdam natus eos quia deleniti at, cum laboriosam quam. Tempore delectus blanditiis excepturi itaque?
                        </span>
                    </div>
                </div>
            </div>
            <div class="live">
                <div class="articl">
                    <h2>live auction</h2>
                    <a href="#" class="but">explore more</a>
                </div>
                <div class="marketblock">
                    <div class="nft-card">
                        <div class="image-block">
                            <img src="./photos/nftcard.png" alt="nft-card" class="nft-img">
                        </div>
                        <span class="timer">1d : 04h : 25min</span>
                        <span class="nft-name">azuki 3D</span>
                        <hr>
                        <div class="buy-block">
                            <span class="price">0.4000 ETH</span>
                            <a href="#" class="but buy-but">buy now</a>
                        </div>
                    </div>
                    <div class="nft-card">
                        <div class="image-block">
                            <img src="./photos/nftcard.png" alt="nft-card" class="nft-img">
                        </div>
                        <span class="timer">1d : 04h : 25min</span>
                        <span class="nft-name">azuki 3D</span>
                        <hr>
                        <div class="buy-block">
                            <span class="price">0.4000 ETH</span>
                            <a href="#" class="but buy-but">buy now</a>
                        </div>
                    </div>
                    <div class="nft-card">
                        <div class="image-block">
                            <img src="./photos/nftcard.png" alt="nft-card" class="nft-img">
                        </div>
                        <span class="timer">1d : 04h : 25min</span>
                        <span class="nft-name">azuki 3D</span>
                        <hr>
                        <div class="buy-block">
                            <span class="price">0.4000 ETH</span>
                            <a href="#" class="but buy-but">buy now</a>
                        </div>
                    </div>
                    <div class="nft-card">
                        <div class="image-block">
                            <img src="./photos/nftcard.png" alt="nft-card" class="nft-img">
                        </div>
                        <span class="timer">1d : 04h : 25min</span>
                        <span class="nft-name">azuki 3D</span>
                        <hr>
                        <div class="buy-block">
                            <span class="price">0.4000 ETH</span>
                            <a href="#" class="but buy-but">buy now</a>
                        </div>
                    </div>
                    <div class="nft-card">
                        <div class="image-block">
                            <img src="./photos/nftcard.png" alt="nft-card" class="nft-img">
                        </div>
                        <span class="timer">1d : 04h : 25min</span>
                        <span class="nft-name">azuki 3D</span>
                        <hr>
                        <div class="buy-block">
                            <span class="price">0.4000 ETH</span>
                            <a href="#" class="but buy-but">buy now</a>
                        </div>
                    </div>
                    <div class="nft-card">
                        <div class="image-block">
                            <img src="./photos/nftcard.png" alt="nft-card" class="nft-img">
                        </div>
                        <span class="timer">1d : 04h : 25min</span>
                        <span class="nft-name">azuki 3D</span>
                        <hr>
                        <div class="buy-block">
                            <span class="price">0.4000 ETH</span>
                            <a href="#" class="but buy-but">buy now</a>
                        </div>
                    </div>
                    <div class="nft-card">
                        <div class="image-block">
                            <img src="./photos/nftcard.png" alt="nft-card" class="nft-img">
                        </div>
                        <span class="timer">1d : 04h : 25min</span>
                        <span class="nft-name">azuki 3D</span>
                        <hr>
                        <div class="buy-block">
                            <span class="price">0.4000 ETH</span>
                            <a href="#" class="but buy-but">buy now</a>
                        </div>
                    </div>
                    <div class="nft-card">
                        <div class="image-block">
                            <img src="./photos/nftcard.png" alt="nft-card" class="nft-img">
                        </div>
                        <span class="timer">1d : 04h : 25min</span>
                        <span class="nft-name">azuki 3D</span>
                        <hr>
                        <div class="buy-block">
                            <span class="price">0.4000 ETH</span>
                            <a href="#" class="but buy-but">buy now</a>
                        </div>
                    </div>

                    <!-- <div class="nft-card show-card">
                        <div class="image-block">
                            <img src="./photos/icons/addNew.svg" alt="" class="show-more">
                        </div>
                        <span class="show-text">show more NFTs</span>
                    </div> -->
                </div>
            </div>
            <div class="arts">
                <div class="articl">
                    <h2>explore NFTs art</h2>
                    <a href="#" class="but">explore more</a>
                </div>
                <div class="sort-by-date">
                    <div class="but but-day active">today</div>
                    <div class="but but-week">this week</div>
                    <div class="but but-month">this month</div>
                    <div class="but but-year">this year</div>
                </div>
                <div class="marketblock">
                    <div class="nft-card">
                        <div class="image-block">
                            <img src="./photos/nft-card.png" alt="nft-card" class="nft-img">
                        </div>
                        <span class="nft-name">azuki 3D</span>
                        <hr>
                        <div class="buy-block">
                            <span class="price">0.4000 ETH</span>
                            <a href="#" class="but buy-but">buy now</a>
                        </div>
                    </div>
                    <div class="nft-card">
                        <div class="image-block">
                            <img src="./photos/nft-card.png" alt="nft-card" class="nft-img">
                        </div>

                        <span class="nft-name">azuki 3D</span>
                        <hr>
                        <div class="buy-block">
                            <span class="price">0.4000 ETH</span>
                            <a href="#" class="but buy-but">buy now</a>
                        </div>
                    </div>
                    <div class="nft-card">
                        <div class="image-block">
                            <img src="./photos/nft-card.png" alt="nft-card" class="nft-img">
                        </div>

                        <span class="nft-name">azuki 3D</span>
                        <hr>
                        <div class="buy-block">
                            <span class="price">0.4000 ETH</span>
                            <a href="#" class="but buy-but">buy now</a>
                        </div>
                    </div>
                    <div class="nft-card">
                        <div class="image-block">
                            <img src="./photos/nft-card.png" alt="nft-card" class="nft-img">
                        </div>

                        <span class="nft-name">azuki 3D</span>
                        <hr>
                        <div class="buy-block">
                            <span class="price">0.4000 ETH</span>
                            <a href="#" class="but buy-but">buy now</a>
                        </div>
                    </div>
                    <div class="nft-card">
                        <div class="image-block">
                            <img src="./photos/nft-card.png" alt="nft-card" class="nft-img">
                        </div>

                        <span class="nft-name">azuki 3D</span>
                        <hr>
                        <div class="buy-block">
                            <span class="price">0.4000 ETH</span>
                            <a href="#" class="but buy-but">buy now</a>
                        </div>
                    </div>
                    <div class="nft-card">
                        <div class="image-block">
                            <img src="./photos/nft-card.png" alt="nft-card" class="nft-img">
                        </div>

                        <span class="nft-name">azuki 3D</span>
                        <hr>
                        <div class="buy-block">
                            <span class="price">0.4000 ETH</span>
                            <a href="#" class="but buy-but">buy now</a>
                        </div>
                    </div>
                    <div class="nft-card">
                        <div class="image-block">
                            <img src="./photos/nft-card.png" alt="nft-card" class="nft-img">
                        </div>

                        <span class="nft-name">azuki 3D</span>
                        <hr>
                        <div class="buy-block">
                            <span class="price">0.4000 ETH</span>
                            <a href="#" class="but buy-but">buy now</a>
                        </div>
                    </div>
                    <div class="nft-card">
                        <div class="image-block">
                            <img src="./photos/nft-card.png" alt="nft-card" class="nft-img">
                        </div>

                        <span class="nft-name">azuki 3D</span>
                        <hr>
                        <div class="buy-block">
                            <span class="price">0.4000 ETH</span>
                            <a href="#" class="but buy-but">buy now</a>
                        </div>
                    </div>
                    <!-- <div class="nft-card show-card">
                        <div class="image-block">
                            <img src="./photos/icons/addNew.svg" alt="" class="show-more">
                        </div>
                        <span class="show-text">show more NFTs</span>
                    </div> -->
                </div>
            </div>
            <div class="categories">
                <div class="articl">
                    <h2>top categories</h2>
                    <a href="#" class="but">explore more</a>
                </div>
                <div class="card-block">
                    <div class="card">
                        <img src="./photos/cat-img-big.png" alt="" class="cat-image">
                        <span>genre</span>
                    </div>
                    <div class="card">
                        <img src="./photos/cat-img-big.png" alt="" class="cat-image">
                        <span>genre</span>
                    </div>
                    <div class="card">
                        <img src="./photos/cat-img-big.png" alt="" class="cat-image">
                        <span>genre</span>
                    </div>

                    <div class="card">
                        <img src="./photos/cat-img-big.png" alt="" class="cat-image">
                        <span>genre</span>
                    </div>
                    <div class="card">
                        <img src="./photos/cat-img-big.png" alt="" class="cat-image">
                        <span>genre</span>
                    </div>
                    <div class="card">
                        <img src="./photos/cat-img-big.png" alt="" class="cat-image">
                        <span>genre</span>
                    </div>
                    <div class="card">
                        <img src="./photos/cat-img-big.png" alt="" class="cat-image">
                        <span>genre</span>
                    </div>
                    <div class="card">
                        <img src="./photos/cat-img-big.png" alt="" class="cat-image">
                        <span>genre</span>
                    </div>
                </div>
            </div>
        </div>
        {% endblock main_content %}

    {% block scripts_src %}
        <script src="{% static './jsCode/swap-cat-by-date.js' %}"></script>
        <script src="{%static './jsCode/toggle.js' %}"></script>
    {% endblock scripts_src %}
