{%extends 'main/base.html'%}
{%load static%}

    {% block head_links %}
    <link rel="stylesheet" href="{% static './cssCode/prof.css' %}">
    {% endblock head_links %}
        {% block main_content %}
            <form action="#" method="post">
                <div class="profile">
                    <div class="user-back-block">
                        <img src="./photos/banner_red.png" alt="" class="curr-bg-img">
                        <input type="file" name="user-bg" id="user-bg">
                        <label for="user-bg">
                            <img src="./photos/icons/login.svg" alt="" class="dwnl-bg">
                        </label>                    
                    </div>
                    <div class="user-avatar-block">
                        <img src="./photos/user.png" alt="" class="avatar-img">
                        <input type="file" name="user-avatar" id="user-avatar">
                        <label for="user-avatar">
                            <img src="./photos/icons/pen.svg" alt="" class="change-avatar">
                        </label>    
                    </div>
                    <button type="submit" class="send-prof-img">upload profile changes</button>
                </div>
            </form>
        
            <div class="main_container">
                <form action="#" method="post">
                    <div class="field">
                        <h3>information</h3>
                        <div class="user-info">
                            <div class="inp-full-name-block">
                                <div class="full-name-inp">
                                    <input type="text" id="inp-full-name" name="inp-full-name"/>
                                </div>
                                <label for="inp-full-name">full name</label>
                            </div>
                            <div class="inp-nickname-block">
                                <div class="nick-inp">
                                    <input type="text" id="inp-nickname" name="inp-nickname"/>
                                </div>
                                <label for="inp-nickname">user name</label>
                            </div>
                            <div class="inp-inst-block">
                                <div class="inst-inp">
                                    <input type="text" id="inp-inst" name="inp-inst"/>
                                </div>
                                <label for="inp-inst">instagram</label>
                            </div>
                            <div class="inp-tg-block">
                                <div class="tg-inp">
                                    <input type="text" id="inp-tg" name="inp-tg"/>
                                </div>
                                <label for="inp-tg">telegram</label>
                            </div>
                            <div class="inp-bio-block">
                                <div class="bio-inp">
                                    <textarea name="user-bio" id="user-bio" placeholder="Say something about yourself" cols="30" rows="10"></textarea>
                                </div>
                                <label for="user-bio">description</label>
                            </div>
                        </div>
                        <button type="submit" class="upd-prof">Update profile</button>
                    </div>
                </form>
            </div>
        {% endblock main_content %}
    {% block scripts_src %}
        <script src="{% static './jsCode/attach-photo.js' %}"></script>
        <script src="{% static './jsCode/toggle.js' %}"></script>
    {% endblock scripts_src %}
</body>
</html>