{%extends 'main/base.html'%}
{%load static%}

    {% block head_links %}
    <link rel="stylesheet" href="{% static './cssCode/prof.css' %}">
    {% endblock head_links %}
        {% block main_content %}
            <form action="settings" method="post" enctype="multipart/form-data">
                <div class="profile">
                    {%csrf_token%}
                    {%for item in form%}
                        <div class="{{item.id_for_label}}-block">
                            {%if item.id_for_label == 'user-bg'%}
                                {%if accs.customer_bg%}
                                    <img src="{{accs.customer_bg.url}}" alt="user-bg" class="curr-{{item.id_for_label}}">
                                {%else%}
                                    <img src="{%static './photos/banner_red.png' %}" alt="user-bg" class="curr-{{item.id_for_label}}">
                                {%endif%}
                            {%else%}
                                {% if accs.customer_avatar%}
                                    <img src="{{accs.customer_avatar.url}}" alt="user-avatar" class="curr-{{item.id_for_label}}">
                                {%else%}
                                    <img src="{%static './photos/user.png' %}" alt="user-avatar" class="curr-{{item.id_for_label}}">
                                {%endif%}
                            {%endif%}
                            {{item}}
                            <label for="{{item.id_for_label}}">
                                <img src="{% static './photos/icons/dwnl-'|add:item.id_for_label|add:'.svg'%}" class="change-{{item.id_for_label}}">
                            </label>
                        </div>
                    {%endfor%}
                    <input type="hidden" name="detect">
                    <button type="submit" class="send-prof-img">upload profile changes</button>
                </div>

            </form>
        
            <div class="main_container">
                <form action="#" method="post">
                    <div class="field">
                        <h3>information</h3>
                        <div class="user-info">
                            <div class="inp-full-name-block">
                                <div class="full-name-inp">
                                    <input type="text" id="inp-full-name" name="inp-full-name"/>
                                </div>
                                <label for="inp-full-name">full name</label>
                            </div>
                            <div class="inp-nickname-block">
                                <div class="nick-inp">
                                    <input type="text" id="inp-nickname" name="inp-nickname"/>
                                </div>
                                <label for="inp-nickname">user name</label>
                            </div>
                            <div class="inp-inst-block">
                                <div class="inst-inp">
                                    <input type="text" id="inp-inst" name="inp-inst"/>
                                </div>
                                <label for="inp-inst">instagram</label>
                            </div>
                            <div class="inp-tg-block">
                                <div class="tg-inp">
                                    <input type="text" id="inp-tg" name="inp-tg"/>
                                </div>
                                <label for="inp-tg">telegram</label>
                            </div>
                            <div class="inp-bio-block">
                                <div class="bio-inp">
                                    <textarea name="user-bio" id="user-bio" placeholder="Say something about yourself" cols="30" rows="10"></textarea>
                                </div>
                                <label for="user-bio">description</label>
                            </div>
                        </div>
                        <button type="submit" class="upd-prof">Update profile</button>
                    </div>
                </form>
            </div>
        {% endblock main_content %}
    {% block scripts_src %}
        <script src="{% static './jsCode/attach-photo.js' %}"></script>
        <script src="{% static './jsCode/toggle.js' %}"></script>
    {% endblock scripts_src %}
</body>
</html>