main .follows-and-subs {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
  background-color: rgba(26, 36, 40, 0.4);
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

main .follows-and-subs .follow-sub-block .cross{
    align-self: flex-end;
    margin: 8px 16px;
    cursor: pointer;
}

main .follows-and-subs.active{
  opacity: 1;
  visibility: visible;
}

main .follows-and-subs .follow-sub-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
  height: 80%;
  border-radius: 32px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  pointer-events: all;
}
main .follows-and-subs .follow-sub-block .elems-and-lines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
main .follows-and-subs .follow-sub-block .elems-and-lines .swapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: 100%;
}
main .follows-and-subs .follow-sub-block .elems-and-lines .swapper .swapp-item {
  font-size: 20px;
  color: #000;
  text-transform: capitalize;
  padding: 4px 0;
  font-weight: bold;
}
main .follows-and-subs .follow-sub-block .elems-and-lines .active-line-block {
  width: 100%;
  height: 2px;
  position: relative;
}
main .follows-and-subs .follow-sub-block .elems-and-lines .active-line-block .active-line {
  position: absolute;
  bottom: 0;
  height: 4px;
  border-radius: 2px;
  background: -webkit-gradient(linear, left top, right top, from(#9dd1d5), to(#3567B4));
  background: linear-gradient(to right, #9dd1d5, #3567B4);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
main .follows-and-subs .follow-sub-block .sublist-block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
}

main .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .profile .user-back-block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 40px 80px;
  position: relative;
}
main .profile .user-back-block .curr-bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
main .profile .user-back-block .useful-links {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
main .profile .user-back-block .useful-links .icon-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px;
  border-radius: 100%;
  background-color: #2e3033;
  position: relative;
}
main .profile .user-back-block .useful-links .icon-img svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
main .profile .user-back-block .useful-links .icon-img.active svg {
  fill: tomato;
  -webkit-animation: sub 0.5s forwards;
          animation: sub 0.5s forwards;
}
main .profile .user-back-block .useful-links .icon-img.active svg path {
  stroke: none;
}
main .profile .user-info_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
  gap: 20px 0;
  width: 100%;
}
main .profile .user-info_container .user-avatar-block {
  width: 120px;
  height: 120px;
  cursor: pointer;
  position: relative;
}
main .profile .user-info_container .user-avatar-block > * {
  border-radius: 100%;
  cursor: pointer;
}
main .profile .user-info_container .user-avatar-block .avatar-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border: 3px solid rgb(137, 145, 203);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
main .profile .info-abt-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  gap: 12px 0;
}
main .profile .info-abt-user .name-block {
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 8px;
}
main .profile .info-abt-user .name-block .user-name {
  font-size: 24px;
  color: white;
  text-transform: capitalize;
}
main .profile .info-abt-user .name-block .nickname {
  font-size: 12px;
  color: transparent;
  text-transform: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#C2D1DD), to(#64a3f4));
  background-image: linear-gradient(to right, #C2D1DD, #64a3f4);
  -webkit-background-clip: text;
          background-clip: text;
}
main .profile .info-abt-user .descr-block {
  font-size: 12px;
  color: white;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: normal;
      -ms-grid-row-align: normal;
      align-self: normal;
}
main .profile .info-abt-user .descr-block .about-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main .profile .info-abt-user .descr-block .about-user .about-text {
  max-width: 400px;
  line-height: 1.3;
}
main .profile .info-abt-user .descr-block .influence {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .profile .info-abt-user .descr-block .influence span {
  padding: 8px;
  cursor: pointer;
}
main .profile .info-abt-user .descr-block .influence .follow {
  border-right: 0.75px solid #2e3033;
}
main .profile .info-abt-user .descr-block .influence .followers {
  border-left: 0.75px solid #2e3033;
}
main .collection_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .collection_container .coll-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .collection_container .coll-nav .coll-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 0;
  gap: 32px;
}
main .collection_container .coll-nav .coll-menu .coll-menu-item {
  font-size: 14px;
  color: white;
  text-transform: capitalize;
  cursor: pointer;
}
main .collection_container .coll-nav .active-line-block {
  width: 100%;
  height: 2px;
  background-color: #2e3033;
  position: relative;
}
main .collection_container .coll-nav .active-line-block .active-line {
  position: absolute;
  bottom: 0;
  height: 4px;
  border-radius: 2px;
  background: -webkit-gradient(linear, left top, right top, from(#fff), to(#3567B4));
  background: linear-gradient(to right, #fff, #3567B4);
  -webkit-transition: 1s;
  transition: 1s;
}
main .collection_container .collection-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}
main .collection_container .collection-block .prod-buttons-block {
  width: 100%;
  margin: 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .collection_container .collection-block .prod-buttons-block .but-and-hidd-block {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .collection_container .collection-block .prod-buttons-block .but-and-hidd-block .add-but {
  padding: 12px;
  border: 2px solid #1A2428;
  border-radius: 20px;
  font-size: 14px;
  color: rgb(140, 140, 140);
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  cursor: default;
}
main .collection_container .collection-block .prod-buttons-block .but-and-hidd-block .add-but.open ~ .hidden-menu-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
main .collection_container .collection-block .prod-buttons-block .but-and-hidd-block .sort-but {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
main .collection_container .collection-block .prod-buttons-block .but-and-hidd-block .filter-but {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
main .collection_container .collection-block .prod-buttons-block .but-and-hidd-block .hidden-menu-block {
  position: absolute;
  top: 0;
  margin-top: 48px;
  z-index: 999;
  display: none;
  background-color: #142029;
  padding: 10px 0;
  border-radius: 12px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
main .collection_container .collection-block .prod-buttons-block .but-and-hidd-block .hidden-menu-block.sort-hid-block {
  right: 0;
}
main .collection_container .collection-block .prod-buttons-block .but-and-hidd-block .hidden-menu-block.filt-hid-block {
  left: 0;
}
main .collection_container .collection-block .prod-buttons-block .but-and-hidd-block .hidden-menu-block .hidden-menu-item {
  font-size: 14px;
  color: white;
  text-transform: none;
  font-weight: 300;
  padding: 12px 32px;
  width: 100%;
  cursor: pointer;
}
main .collection_container .collection-block .prod-buttons-block .but-and-hidd-block .hidden-menu-block .hidden-menu-item:hover {
  background-color: #94969b;
}
main .collection_container .collection-block .prod-buttons-block .but-and-hidd-block .hidden-menu-block .hidden-menu-item.active {
  background-color: #565759;
}
main .collection_container .collection-block .items-block {
  display: -ms-grid;
  display: grid;
  width: 100%;
  gap: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template-columns: repeat(auto-fit, 240px);
}
main .collection_container .collection-block .items-block .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #142029;
  border-radius: 10px;
  cursor: pointer;
}
main .collection_container .collection-block .items-block .item .image-block {
  width: 240px;
  height: 240px;
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}
main .collection_container .collection-block .items-block .item .image-block .nft-img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .collection_container .collection-block .items-block .item .nft-name {
  font-size: 14px;
  color: white;
  text-transform: capitalize;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-weight: bold;
  margin: 8px 16px;
}
main .collection_container .collection-block .items-block .item hr {
  min-height: 2px;
  width: 100%;
  background: #1D262E;
}
main .collection_container .collection-block .items-block .item .price-block {
  width: 100%;
  padding: 12px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .collection_container .collection-block .items-block .item .price-block h4 {
  font-size: 14px;
  color: #747474;
  text-transform: capitalize;
}
main .collection_container .collection-block .items-block .item .price-block .price-in-diff-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
}
main .collection_container .collection-block .items-block .item .price-block .price-in-diff-c .price-in-wrx {
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
main .collection_container .collection-block .items-block .item .price-block .price-in-diff-c .price-in-usd {
  font-size: 10px;
  color: #747474;
  text-transform: uppercase;
}

@-webkit-keyframes sub {
  0% {
    width: 20px;
    height: 20px;
    fill: none;
  }
  10% {
    fill: tomato;
  }
  50% {
    width: 30px;
    height: 30px;
    fill: tomato;
  }
  100% {
    width: 24px;
    height: 24px;
    fill: tomato;
  }
}

@keyframes sub {
  0% {
    width: 20px;
    height: 20px;
    fill: none;
  }
  10% {
    fill: tomato;
  }
  50% {
    width: 30px;
    height: 30px;
    fill: tomato;
  }
  100% {
    width: 24px;
    height: 24px;
    fill: tomato;
  }
}